/* GENERAL */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

h1 {
    line-height: 100%;
    height: 60px;
    font-size: 45px;
    font-family: 'Crete Round', Arial, Helvetica, sans-serif;
}

h2, h3 {
    text-transform: uppercase;
}

h1, h2, h3, h4, p, a, input, label {
    color: #444;
    text-decoration: none;
}

ul {
    list-style-type: none;
    text-transform: uppercase;
}

.orange_dot {
    font-size: 60px;
    color: #FF8000;
}

.wrapper {
    width: 900px;
    margin: auto;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* NAV */
nav ul {
    padding-inline-start: 0px;
    display: flex;
}

nav li {
    font-weight: bold;
    margin: 15px;
}

nav a:hover {
    color: #FF8000;
}

/* BANNER SECTION */
#banner {
    background: url("images/main.jpg") center;
    display: flex;
    flex-direction: column;
    height: 450px;
    align-items: center;
    justify-content: center;
}

#banner a {
    background-color: #FF8000;
    color: white;
    border-radius: 2px;
    padding: 9px 18px;
    width: 70px;
    text-align: center;
}

#banner a:hover {
    background: #02b8dd;
}

#banner h2 {
    font-weight: normal;
    font-size: 47px;
    text-align: center;
}

/* STEPS SECTION */
#steps {
    display: flex;
    height: 450px;
}

#steps img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#steps h2 {
    text-align: center;
}

#steps p {
    font-style: italic;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    opacity: 0.8;
}

#destination {
    display: flex;
}

/* OFFERS SECTION */
#offers {
    display: flex;
    height: 450px;
    align-items: center;
    justify-content: center;
    background: url("images/grey-background-wallpaper-23.jpg") center;
}

#offers h3 {
    padding-bottom: 20px;
    font-size: 1.5em;
    border-bottom: 1px solid #ddd;
}

#offers p {
    font-size: 13px;
    font-style: italic;
}

.description_block_offers {
    border-top-left-radius: 7%;
    border-bottom-left-radius: 7%;
    width: 50%;
    text-align: center;
    background: rgba(255, 255, 255, 0.95);
}

.description_block_offers p {
    padding: 0px 10px;
}

#travel_offer_1, #travel_offer_2 {
    border-radius: 20px;
    display: flex;
    margin-right: 11px;

    height: 270px;
    width: 460px;
}

#travel_offer_1 {
    background: url("images/article-image-1.jpg") no-repeat;
}

#travel_offer_2 {
    background: url("images/article-image-2.jpg") no-repeat;
}

.more_infos_link {
    display: inline-block;
    line-height: 40px;
    background-color: #FF8000;
    color: white;
    border-radius: 5px;
    width: 130px;
}

.more_infos_link:hover {
    background: #02b8dd;
}

/* FORM SECTION */
#contact_us_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

#contact_us_section h3 {
    text-align: center;
    width: 400px;
    padding-bottom: 20px;
    border-bottom: 1px solid #02b8dd;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 1.8em;
}

#contact_us_section p {
    margin-bottom: 40px;
}

form label{
    font-weight: bold;
    color: #777;
}

form input[type="text"], form input[type="email"] {
    margin-left: 4px;
    height: 30px;
    border: 2px solid #ddd;
    border-radius: 3px;
}

form input#nom {
    margin-right: 20px;
}

#form_validation {
    font-weight: bold;
    font-size: 15px;
    background-color: #02b8dd;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-left: 15px;
    border-style: none;
}

#form_validation:hover {
    color: #fff;
    background-color: #444;
}

/* FOOTER */
footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 260px;
    background-color: #444;
}

#footer_logo h1 {
    margin-block-start: 0;
    color: white;
    margin-block-end: 0;
}

#footer_logo h4 {
    color: #777;
    font-weight: bold;
    margin-block-start: 0em;
    margin-block-end: 0em;
}