/* GENERAL */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

h2, h3 {
    text-transform: uppercase;
}

h1, h2, h3, h4, p, a {
    color: #444;
    text-decoration: none;
}

ul {
    list-style-type: none;
    text-transform: uppercase;
}

.orange_dot {
    font-size: 60px;
    color: #FF8000;
}

.wrapper {
    width: 900px;
    margin: auto;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    line-height: 100%;
    height: 60px;
    font-size: 45px;
    font-family: 'Crete Round', Arial, Helvetica, sans-serif;
}

/* NAV */
nav ul {
    padding-inline-start: 0px;
    display: flex;
}

nav li {
    font-weight: bold;
    margin: 15px;
}

nav a:hover {
    color: #FF8000;
}

/* BANNER SECTION */
#banner {
    background: url("images/main.jpg") center;
    display: flex;
    flex-direction: column;
    height: 450px;
    align-items: center;
    justify-content: center;
}

#banner a {
    background-color: #FF8000;
    color: white;
    border-radius: 2px;
    padding: 9px 18px;
    width: 70px;
    text-align: center;
}

#banner h2 {
    font-weight: normal;
    font-size: 47px;
    text-align: center;
}

/* STEPS SECTION */
#steps {
    display: flex;
    height: 450px;
}

#steps img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#steps h2 {
    text-align: center;
}

#steps p {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    opacity: 0.8;
}

#destination {
    display: flex;
}

/* OFFERS SECTION */
#offers {
    display: flex;
    height: 450px;
    align-items: center;
    justify-content: center;
    background: url("images/grey-background-wallpaper-23.jpg") center;
}

#offers h3 {
    font-size: 1.5em;
}

#travel_offer_1 {
    border-radius: 20px;
    display: flex;
    margin-right: 11px;

    height: 250px;
    width: 460px;

    background: url("images/article-image-1.jpg") no-repeat;
}

#description_block_offer_1 {
    border-top-left-radius: 19px;
    border-bottom-left-radius: 20px;
    width: 50%;
    text-align: center;
    background: #FDFDFE;
    opacity: 0.9;
}

#travel_offer_2 {
    border-radius: 20px;
    display: flex;
    margin-left: 11px;

    height: 250px;
    width: 460px;

    background: url("images/article-image-2.jpg") no-repeat;
}

#description_block_offer_2 {
    border-top-left-radius: 8%;
    border-bottom-left-radius: 8%;
    width: 50%;
    text-align: center;
    background: #FDFDFE;
    opacity: 0.9;
}

.more_infos_link {
    display: inline-block;
    line-height: 40px;
    background-color: #FF8000;
    color: white;
    border-radius: 5px;
    width: 130px;
}

/* FORM SECTION */
#contact_us_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

#contact_us_section h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 1.8em;
}

#form_section_separator {
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: #50C4E4;
}

form label{
    font-weight: bold;
}

form input {
    margin-left: 4px;
}

form input#nom {
    margin-right: 20px;
}

#form_validation {
    background-color: #00A9E3;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-left: 15px;
    border: none;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    height: 160px;
    background: url("images/2480x3508-davys-grey-solid-color-background.jpg") center;
}

#footer_logo {
    text-align: center;
}

#footer_logo h1 {
    color: white;
}